<footer id="footer"  class="text-center" style="background-image: url({{@blog.cover}})" >
    <div class="container">
        <ul class="social-icons">
        	<li>
        	 	<a href="https://twitter.com/SwishLabsCo">
                    <i class="icon-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/swishlabsco">
                    <i class="icon-facebook"></i>
                </a>
            </li>
            <li>
                <a  href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <i class="icon-google-plus"></i>
                </a>
            </li>
        </ul>
        <p class="copy-text">
        	All content copyright
        	<a href="http://wwww.swishlabs.co">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.
        </p>
    </div>
</footer>