@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,100,700);
/* http://modularscale.com/scale/?px1=16&px2=&ra1=1.618&ra2=0 */

/*
ACCENT COLOR
---------------------------------------------------------------------------------------------------- */

a {
color: #18bc9c;
}
input:focus,
textarea:focus {
border-color: #18bc9c;
}

input[type="submit"] {
background-color: #18bc9c;
}

.loadbar {
background-color: #18bc9c;
}

.site-header {
background-color: #F44647;
}


/*
STRUCTURE
---------------------------------------------------------------------------------------------------- */

.site-description {
color: #FFFFFF;
font-family: "Raleway", sans-serif;
font-weight: 300;
font-size: 1.227rem;
text-transform: none;
margin: 0;
-webkit-transition: all 0.9s ease-in-out;
-moz-transition: all 0.9s ease-in-out;
transition: all 0.9s ease-in-out;
line-height: inherit;
text-align: center;
text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.site-header {
background-position: center;
background-size: cover;
padding: 4.236rem 0;
position: relative;
width: 100%;
z-index: 999;
}

.site-header.site-cover {
background-color: #EEEEEE;
}

.site-logo {
height: 4.236rem;
margin: 0 auto;
}

.site-nav {
margin: 0;
padding: 1.618rem 1rem;
}

.site-nav a {
color: #FFFFFF;
display: block;
font-family: inherit;
font-size: 1rem;
position: relative;
}
.site-nav a:hover {
    background: rgba(34,34,34,.5);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.site-nav a + a {
margin-top: 1rem;
}
.button:hover {
    color: #18bc9c;
}
.site-nav a:before {
color: #AAAAAA;
float: left;
font-family: "FontAwesome";
line-height: 1.2;
margin-right: 1rem;
width: 1rem;
}

.site-search {
-moz-box-sizing: border-box;
     box-sizing: border-box;
padding: 1rem 1rem 0;
position: relative;
width: 100%;
z-index: 9999;
}

.site-search input[type="reset"] {
border: none;
box-sizing: content-box;
height: 1.382rem;
line-height: 1.382rem;
opacity: 0;
position: absolute;
padding: 0.618rem;
right: 1rem;
top: 1rem;
width: 1.382rem;
z-index: 99;
}

.site-search input[type="search"] {
background-color: #FFFFFF;
border: none;
border-radius: 0.236rem;
-moz-box-sizing: border-box !important;
     box-sizing: border-box !important;
font-size: 0.727rem;
height: auto;
line-height: 1.382rem;
padding: 0.618rem 3.618rem 0.618rem 1rem;
width: 100%;
}

.site-search input[type="search"]::-webkit-input-placeholder {
color: #AAAAAA;
}

.site-search-results[aria-hidden="true"] {
display: none;
}

.site-search .search-reset {
color: #AAAAAA;
line-height: 1.382rem;
position: absolute;
padding: 0.618rem;
right: 1rem;
text-align: center;
top: 1rem;
width: 1.382rem;
}

.search-result {
display: block;
margin: 1.618rem 0;
}

.search-result-date {
color: #777777;
font-size: 0.727rem;
}

.search-result-title {
color: #FFFFFF;
font-size: 0.727rem;
font-weight: 400;
margin: 0;
}

.site-sidebar {
background-color: #222222;
font-family: "Open Sans", sans-serif;
height: 100%;
left: 0;
overflow: auto;
position: absolute;
top: 0;
-webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
-webkit-transition-property: background-color, visibility;
        transition-property: background-color, visibility;
width: 260px;
z-index: 0;
}

.site-sidebar.hidden {
background-color: #333333;
visibility: hidden;
}

.site-sidebar .copyright {
color: #777777;
font-size: 0.727rem;
margin: 0;
padding: 0 1rem;
}

.site-sidebar .copyright a {
color: inherit;
}

.site-sidebar-overlay {
bottom: 0;
display: none;
height: 100%;
left: 0;
position: absolute;
right: 0;
top: 0;
width: 100%;
z-index: 9999;
}

.search-active .site-sidebar .copyright,
.search-active .site-sidebar .site-nav {
display: none;
}

.site-sidebar-toggle {
background-color: #333333;
border-radius: 0.236rem;
color: #FFFFFF;
display: block;
font-size: 0.727rem;
height: 2.618rem;
left: 0;
line-height: 2.618rem;
margin: 1rem;
padding: 0;
position: fixed;
text-align: center;
top: 0;
-webkit-transition: 0.4s;
        transition: 0.4s;
width: 2.618rem;
z-index: 9999;
}

.site-sidebar-toggle:focus {
outline: none;
}

.site-sidebar-visible .site-sidebar-toggle {
opacity: 0;
-webkit-transform: translateX(260px);
        transform: translateX(260px);
}

.csstransforms .site-sidebar-visible .site-container {
-webkit-transform: translateX(260px);
        transform: translateX(260px);
}

.csstransforms3d .site-sidebar-visible .site-container {
-webkit-transform: translateX(260px) translateZ(0);
        transform: translateX(260px) translateZ(0);
}

.no-csstransforms .site-sidebar-visible .site-container {
margin-left: 260px;
}

.site-container {
background-color: #FFFFFF;
min-height: 100%;
position: relative;
-webkit-transition: 0.4s;
        transition: 0.4s;
z-index: 999;
}

.site-sidebar-visible .site-sidebar-overlay {
display: block;
}

.site-title {
color: #FFFFFF;
font-family: 'Raleway', sans-serif;
font-size: 2.918rem;
font-weight: 400;
line-height: 48px;
-webkit-transition: all 0.9s ease-in-out;
-moz-transition: all 0.9s ease-in-out;
transition: all 0.9s ease-in-out;
text-transform: uppercase;
margin: 10px 0 10px 0;
padding-top: 0.3em;
text-align: center;
text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}


/*
ELEMENTS
---------------------------------------------------------------------------------------------------- */

a {
text-decoration: none;
}

.alt {
display: block;
height: 0;
opacity: 0;
overflow: hidden;
text-indent: -999px;
}

blockquote {
font-style: italic;
margin: 1.618rem 0;
}

body {
color: #333333;
font-family: "Lora", sans-serif;
height: 100%;
line-height: 1.5;
min-width: 300px;
}

body.overflow-hidden {
overflow: hidden;
}

code {
background-color: #f5f2f0;
font-family: "Source Code Pro", monospace;
}

h1 {
font-size: 2.618rem;
font-weight: 600;
margin: 0 0 1.618rem;
}

h2 {
font-size: 1.618rem;
font-weight: 700;
line-height: 1.2;
margin: 1.618rem 0 1rem;
}

h3 {
font-family: "Open Sans", sans-serif;
font-size: 1rem;
font-weight: 700;
margin: 1rem 0;
}

hr {
border: none;
border-bottom: 1px solid #DDDDDD;
margin: 2.618rem 0;
}

html {
font-size: 18px;
height: 100%;
}

input,
textarea {
border: 1px solid #EEEEEE;
box-sizing: border-box;
font-family: "Open Sans", sans-serif;
font-size: 0.727rem;
height: 2.618rem;
line-height: 1;
padding: 1rem;
-webkit-transition: 0.4s;
        transition: 0.4s;
width: 100%;
}

input:focus,
textarea:focus {
outline: none;
}

input[type="submit"] {
border: none;
border-radius: 0.236rem;
color: #FFFFFF;
display: inline-block;
font-family: "Open Sans", sans-serif;
font-size: 0.727rem;
padding: 0 1.618rem;
width: auto;
}

img {
display: block;
margin: 1.618rem 0;
max-width: 100%;
}

.loadbar {
height: 2px;
left: 0;
position: fixed;
top: 0;
-webkit-transition: 0.6s ease-out;
        transition: 0.6s ease-out;
width: 0;
z-index: 99999;
}

.loadbar.hide {
opacity: 0;
visibility: hidden;
}

ol,
ul {
margin: 1rem 0;
padding: 0 0 0 2.618rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
margin: 0.382rem 0;
}

ol li + li,
ul li + li {
margin-top: 0.382rem;
}

p {
margin: 1rem 0;
}

.pagination {
position: relative;
}

.pagination a {
background-color: #EEEEEE;
color: inherit;
display: block;
font-size: 1.618rem;
line-height: 2.618rem;
padding: 1rem 1.618rem;
text-align: center;
-webkit-transition: 0.6s;
        transition: 0.6s;
}

.pagination.older {
//margin-top: 4.236rem;
}

pre {
background-color: #f5f2f0;
margin: 1rem 0;
padding: 1rem;
}

pre code {
display: block;
font-size: 0.727rem;
}

[role="main"] {
position: relative;
}

::selection {
background-color: #333333;
color: #FFFFFF;
}

::-moz-selection {
background-color: #333333;
color: #FFFFFF;
}

.wrapper {
margin: 0 auto;
padding: 0 1rem;
max-width: 700px;
}


/*
MEDIA QUERIES
---------------------------------------------------------------------------------------------------- */

@media (min-width: 400px) {

	.wrapper {
	padding: 0 2.618rem;
	}
}

@media (min-width: 600px) {

	html {
	font-size: 20px;
	}
}

@media (min-width: 800px) {

	html {
	font-size: 22px;
	}
}